.nav-bar{
    width: 95%;
    background-color: transparent;
    padding: 15px 0px;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    
}
::-webkit-scrollbar {
    display: none;
  }
.right{
    text-align: end;
    width: 30%;

}
.left{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.nav-logo{
    height: 100%;
    width: 80px;
}
.nav-menu{
    font-size: 1.2rem;
    color: rgb(238, 233, 233);
    text-decoration: none;
}
.nav-menu:hover{
    color: white;
}
.nav-option{
    margin-left: 20px;
    height: 20px;
    width: 20px;
}